* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 17px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #BF9742;
}

::-webkit-scrollbar-thumb {
    background: #61481C;
    border-radius: 10px;
}

.lab__desc {
    background-color: #1f1301;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffa800;
    border-top: 2px solid #ffa800;
    border-bottom: 2px solid #ffa800;
}

.main__section {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #1f1301;
    padding: 2rem 10rem;
}

.table-1,
.table-2,
.table-3 {
    width: 100%;
    background-color: white;
    margin-bottom: 4rem;
    padding: 2rem 0 4rem 0;
}

.table-1>h2,
.table-2>h2,
.table-3>h2 {
    text-align: center;
    padding: 0 0 15px 0;
    color: #ffa800;
    font-size: 25px;
}

.table-1 .table-1__container,
.table-2 .table-2__container,
.table-3 .table-3__container {
    width: 70%;
    margin: auto;
}

.table-1 .table-1__container table,
.table-2 .table-2__container table,
.table-3 .table-3__container table {
    text-align: center;
    width: 100%;
    border: 5px solid black;
}

.table-1 .table-1__container .headings,
.table-2 .table-2__container .headings,
.table-3 .table-3__container .headings {
    font-weight: bold;
    font-size: 20px;
}

tr,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
}