* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 17px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #BF9742;
}

::-webkit-scrollbar-thumb {
    background: #61481C;
    border-radius: 10px;
}


/* Borders */

.resume,
.resume__container .img__container,
.resume__container .img__container div,
.resume__container .title__container,
.resume__bottom .sidebar,
.resume__bottom .sidebar div,
.resume__bottom .details .emp__history,
.resume__bottom .details .projects,
.resume__bottom .details .education {
    /* border: 2px solid red; */
}

.resume__container {
    border: 2px solid #e1e1e1;
}

.resume__container .img__container,
.sidebar {
    border-right: 2px solid #e1e1e1;
}

.resume__container header,
.resume__bottom .details .emp__history,
.resume__bottom .details .projects {
    border-bottom: 2px solid #e1e1e1;
}

.lab__desc {
    background-color: #1f1301;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffa800;
    border-top: 2px solid #ffa800;
    border-bottom: 2px solid #ffa800;
}

.main__section {
    width: 100%;
    /* height: 100vh; */
    height: auto;
    position: relative;
    background-color: #1f1301;
    padding: 2rem 6rem;
}

.resume {
    width: 100%;
    background-color: white;
    margin-bottom: 4rem;
    padding: 1rem;
}

.resume>h2 {
    text-align: center;
    padding: 15px 0;
}


/* Resume */

.resume__container header {
    display: flex;
}

.resume__container .img__container {
    padding: 5px;
    flex: 10%;
}

.resume__container .img__container div {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto;
}

.resume__container .img__container div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: inherit;
}

.resume__container .title__container {
    flex: 70%;
    padding: 15px 10px;
}

.resume__container .title__container h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.resume__container .title__container h3 {
    font-size: 23px;
    color: #959595;
    margin-bottom: 15px;
}

.resume__container .title__container .links {
    margin-top: 10px;
}

.resume__container .title__container .links a {
    margin: 0 10px 0 6px;
    color: #246868;
}


/* Resume Bottom */

.resume__bottom {
    display: flex;
}

.resume__bottom .sidebar {
    flex: 10%;
}

.resume__bottom .sidebar h2 {
    margin-bottom: 10px;
    text-decoration: underline;
}

.resume__bottom .sidebar p {
    margin-bottom: 5px;
}

.resume__bottom .sidebar .div-1,
.resume__bottom .sidebar .div-2,
.resume__bottom .sidebar .div-3 {
    margin-bottom: 20px;
    padding: 10px 5px;
}

.resume__bottom .sidebar .div-2 div {
    margin-bottom: 10px;
}

.resume__bottom .sidebar div {}


/* Sdiebar */

.sidebar .div-2 div {
    display: flex;
    flex-direction: column;
}


/* Details */

.resume__bottom .details {
    flex: 70%;
    /* padding: 15px 10px; */
}

.resume__bottom .details .emp__history,
.resume__bottom .details .projects,
.resume__bottom .details .education {
    /* margin-bottom: 20px; */
    padding: 15px 10px 0 10px;
}

.resume__bottom .details .emp__history ul li {
    margin: 3px 0;
}

.resume__bottom .details .projects h4 {
    margin-top: 8px;
}

.resume__bottom .details .projects p {
    margin-top: 3px;
}


/* ---------------- */


/* Nested List */

.nestedList {
    width: 100%;
    height: 90vh;
    background-color: white;
    margin-bottom: 2rem;
}

.nestedList_container {
    width: 70%;
    margin: auto;
    padding: 15px 35px;
    border: 2px solid #959595;
}

.firstNestedList {
    margin-bottom: 20px;
}

.nestedList_container h1 {
    margin-bottom: 20px;
}

@media (max-width: 400px) {
    .lab__desc {
        height: auto;
    }
    .main__section {
        padding: 2rem 1rem;
    }
    .resume {
        padding: 0;
    }
    .resume__container header {
        display: flex;
        flex-direction: column;
    }
    .resume__container .img__container div {
        width: 150px;
        height: 150px;
    }
    .resume__container .title__container h1 {
        font-size: 30px;
    }
    .resume__container .title__container h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .links span {
        font-size: 14px;
    }
    .links a {
        font-size: 13px;
        margin: 0 2px !important;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 15px;
    }
    p,
    li {
        font-size: 13px;
        word-wrap: break-word;
    }
    .resume__bottom {
        display: flex;
        flex-direction: column-reverse;
    }
    /* q2 */
    .nestedList {
        width: 100%;
        padding-bottom: 4em;
        height: unset;
    }
    .nestedList_container {
        width: unset;
        margin: unset;
        margin: 0 20px;
    }
}