* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 17px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #BF9742;
}

::-webkit-scrollbar-thumb {
    background: #61481C;
    border-radius: 10px;
}

.lab__desc {
    background-color: #1f1301;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffa800;
    border-top: 2px solid #ffa800;
    border-bottom: 2px solid #ffa800;
}

.main__section {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #1f1301;
    padding: 2rem 10rem;
}


/* Q1 */

.calculator {
    width: 100%;
    background-color: white;
    margin-bottom: 4rem;
    padding: 2rem 0;
}

.calculator>h2 {
    text-align: center;
    padding: 0 0 15px 0;
    color: #ffa800;
    font-size: 25px;
}

.calculator__container {
    padding: 10px;
}

.calculator__container table {
    border: 5px solid black;
    width: 30%;
    margin: auto;
}

.calculator__container table td button {
    width: 100%;
    padding: 3px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.calculator__container #result1 {
    padding: 5px 10px;
    margin: auto;
    margin-top: 10px;
    width: fit-content;
    border: 2px solid lightgray;
}

.calculator__container td,
th {
    border: 2px solid black;
    padding: 4px;
}


/* Q2 */

.roomClass {
    width: 100%;
    background-color: white;
    margin-bottom: 4rem;
    padding: 2rem 0;
}

.roomClass>h2 {
    text-align: center;
    padding: 0 0 15px 0;
    color: #ffa800;
    font-size: 25px;
}

.roomClass__container {
    padding: 10px;
    text-align: center;
}

.roomClass__container button {
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

:is(.roomClass__container) #result2,
#result3 {
    padding: 5px 10px;
    margin: 10px auto;
    width: fit-content;
    border: 2px solid lightgray;
}


/* Q3 */

.carClass {
    width: 100%;
    background-color: white;
    margin-bottom: 4rem;
    padding: 2rem 0;
}

.carClass>h2 {
    text-align: center;
    padding: 0 0 15px 0;
    color: #ffa800;
    font-size: 25px;
}

.carClass__container {
    padding: 10px;
    text-align: center;
}

.carClass__container button {
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

:is(.carClass__container) #result4 {
    padding: 5px 10px;
    margin: 10px auto;
    width: fit-content;
    border: 2px solid lightgray;
}